@font-face {
  font-family: 'Open Sans Regular';
  src: url('../fonts/OpenSans-Regular.eot');
  src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-Regular.woff') format('woff'),
  url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }
@font-face {
  font-family: 'Playfair Display Bold';
  src: url('../fonts/PlayfairDisplay-Bold.eot');
  src: url('../fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PlayfairDisplay-Bold.woff') format('woff'),
  url('../fonts/PlayfairDisplay-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  } 

@mixin bold {
  font-family: 'Playfair Display Bold', sans-serif ;
}

@mixin light {
  font-family: 'Open Sans Regular', sans-serif ;
}
