*
  box-sizing: border-box
  font-family: 'Open Sans', sans-serif
h1, h2, h3, h4, h5 
  font-family: 'Playfair Display', serif  
.container  
  margin: 0 auto
  max-width: 1170px
.content 
  height: 100vh  
img 
  width: 100%
  height: auto
a, button 
  transition: all .3s    
@media (max-width: 1230px)  
  .container
    margin: 0px 20px
